.button.is-info {
    background-color: deepskyblue;
}

.has-text-deepskyblue {
    color: deepskyblue;
}

.has-background-placeholder {
    background: rgb(172,158,158);
}

.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

:root {
    --grey-bg-color: #f0f0f0;
}
