.button.is-info {
    background-color: deepskyblue;
}

.has-text-deepskyblue {
    color: deepskyblue;
}

.has-background-placeholder {
    background: rgb(172,158,158);
}

.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.text-nowrap {
    white-space: nowrap;
}

:root {
    --grey-bg-color: #fafafa;
    --link-color: #5CAAED;
    --link-color-hover: #1570C0;
    --link-color-visited: #A3CFF5;
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-color-hover);
}

a:visited {
    color: var(--link-color-visited);
}
